* {
  margin: 0;
}
body{
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
    
}
.col a{
    font-size: 25px;
    color: #ff8800;
    text-decoration: none;
    font-family:serif;
}
.on{
    height: 50px;
    border-radius: 20px;
    border-bottom: 2px solid #ff8800 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.one{
    
    border-radius: 20px;
    border-top: 2px solid #ff8800 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    padding-top: 50px;
}
 h1{
    padding-top: 60px;
    color: #ff8800;
    font-size: 100px;
    font-family: 'Tangerine', serif;
}
 p{
     padding-top: 20px;
  color: #ff8800;
  font-family: 'Tangerine', serif;
  font-size: 40px;  
}

